*{
    margin: 0;
    font-family: Arial;
    border:border-box; 
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items:center;
}

.nav-logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url("logo\ amazon.jpg");
    height: 50px;
    width: 100%;
    background-size:cover;
    
}

.border{
    border: 1.5px solid transparent;
    padding: 4px;
}

.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

/** box2 **/
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin: 15 px;
}

.add-second{
       font-size: 1rem;
       margin: 3px;
}

.add-icon{
    display:flex;
    align-items: center;
}