*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

/* NAVBAR */

.navbar{
height:60px;
background:#0f1111;
color:white;
display:flex;
align-items:center;
padding:0 15px;
}

.logo{
background-image:url("amazon-logo.jpg");
background-size:cover;
height:50px;
width:100px;
}

.border{
border:1.5px solid transparent;
padding:5px;
}

.border:hover{
border:1.5px solid white;
cursor:pointer;
}

.nav-search{
display:flex;
width:700px;
height:40px;
margin:0 20px;
}

.search-select{
width:60px;
background:#f3f3f3;
border:none;
}

.search-input{
flex:1;
border:none;
padding-left:10px;
}

.search-icon{
width:45px;
background:#febd68;
display:flex;
align-items:center;
justify-content:center;
}

/* PANEL */

.panel{
height:40px;
background:#222f3d;
color:white;
display:flex;
align-items:center;
padding:0 15px;
}

.panel-options{
display:flex;
gap:20px;
margin-left:20px;
}

/* HERO */

.hero-section{
background-image:url("hero.jpg");
height:350px;
background-size:cover;
display:flex;
align-items:flex-end;
justify-content:center;
}

.hero-message{
background:white;
padding:10px;
margin-bottom:25px;
}

/* SHOP */

.shop-section{
display:flex;
justify-content:space-evenly;
background:#e2e7e6;
padding:20px;
}

.box{
background:white;
width:23%;
padding:15px;
}

.box-img{
height:300px;
background-size:cover;
margin:10px 0;
}

/* FOOTER */

.foot-panel1{
background:#37475a;
color:white;
text-align:center;
padding:15px;
}

.foot-panel2{
background:#222f3d;
color:white;
display:flex;
justify-content:space-evenly;
padding:40px;
}

.foot-panel2 ul{
list-style:none;
}

.foot-panel2 a{
display:block;
margin:8px 0;
color:#dddddd;
}

.foot-panel4{
background:#0f1111;
color:white;
text-align:center;
padding:20px;
}
